/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
font-family: 'Raleway', sans-serif;

    font-family: 'Montserrat', sans-serif;

 *= require_tree .
 *= require_self
 */
html, body{
	width: 100%;
	margin:0;
	padding: 0;
	background-color: #fdfaf0;
}
#wrapper{
	width: 100%;
	padding-top:5em;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.header{
	width: 100%;
	height: 5em;
	max-height: 5em;
	background-color: #4db8ff;
    font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
h1{
	display: inline-block;
	color: white;
	margin-left: .5em;
}
h1 span{
	color: #ff6600;
}
h3{
	margin-bottom: 1em;
}
h5{
	cursor: pointer
}
.sub_header{
	margin-bottom: 3em;
	font-weight: bold;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 2em;
	font-size: 16px;
}
label{
	margin-bottom: 1em;
}
.help{
	margin:.3em;
	margin-bottom: -1em;
	font-size: 13px;
}
input{
	margin:1em 0;
}
.button {
    background-color: #4db8ff; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 1em;
}
#text_explination{
	margin:5em auto;
	text-align: center;
}